# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE - JetBrains
.idea/
.jbeval/

# macOS
.DS_Store

# Data files
data/
src/data_1
*.npy

# Archives
*.zip

# Secrets
.env

# Artifacts
logs/
runs/
checkpoints/
src/wandb
wandb
src/data_processing/filtering/exp_*/outputs
src/data_processing/augmentation/exp_*/outputs
src/data_processing/metrics.csv
graphify-out


.cortexkit